{% extends 'registration/base_login.html' %}

{% block contenido %}
    <form method="POST">
        {% csrf_token %}
        <h2>Iniciar sesion</h2>
        <input type="text" name="username" placeholder="Username" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <p class="text">¿Olvido su contraseña?</p>
        <input type="submit" value="Login">
        
        {% if error %}
        <p class="message">{{ error }}</p>
        {% endif %}
    </form>
{% endblock %}