{% extends "base.html" %}

{% load static %}

{% block contenido %}

<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/2.jpg' %}">
    <div class="page-info">
        <h2>Agregar Reseña</h2>
        <div class="site-breadcrumb">
            <a href="">Inicio</a> /
            <a href="{% url 'review' %}">Reseñas</a> /
            <span>Agregar</span>
        </div>
    </div>
</section>

<section class="review-section">
    <div class="container">
        <div class="card" style="padding:20px; background-color: rgb(82, 19, 82);">
            <form method="post" class="contact-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                    {{ field }}
                {% endfor %}
                <button type="submit" class="site-btn">Guardar reseña<img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></button>
                <a href="{% url 'review' %}" class="site-btn" style="background:#999;margin-left:8px;">Cancelar</a>
            </form>
        </div>
    </div>
</section>

{% endblock %}
