{% extends "base.html" %}

{% load static %}

{% block contenido %}

<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
    <div class="page-info">
        <h2>Agregar Juego</h2>
        <div class="site-breadcrumb">
            <a href="{% url 'main' %}">Inicio</a> /
            <span>Agregar Juego</span>
        </div>
    </div>
</section>

<section class="games-section spad">
    <div class="container">
        <div class="widget-item">
            <form method="post" class="contact-form" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        <label class="contact-label" for="id_{{ field.name }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endfor %}
                <button type="submit" class="site-btn">Agregar juego<img src="{% static 'img/icons/double-arrow.png' %}" alt="#"/></button>
            </form>
        </div>
    </div>
</section>

{% endblock %}