{% extends "base.html" %}

{% load static %}

{% block contenido %}



<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/3.jpg' %}">
	<div class="page-info">
		<h2>Blog</h2>
		<div class="site-breadcrumb">
			<a href="">Inicio</a> /
			<span>Blog</span>
		</div>
	</div>
</section>


<section class="blog-page">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 col-lg-8 col-md-7">

				<a href="{% url 'blog_add' %}" class="btn btn-primary"
					style="margin:10px 0; display:inline-block;">Agregar noticia</a>

				{% if posts %}
				{% for post in posts %}
				<div class="big-blog-item">
					<a href="{% url 'post_single' post.id %}">
						<img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'img/games/no-image.svg' %}{% endif %}"
							alt="#" class="blog-thumbnail" style="width:100%;height:420px;object-fit:cover;">
					</a>
					<div class="blog-content text-box text-white">
						<div class="top-meta">{{ post.created_at|date:"d.m.Y" }}
						</div>
						<h3>{{ post.title }}</h3>
						<p>{{ post.content|truncatechars:250 }}</p>
						<a href="{% url 'post_single' post.id %}" class="read-more">Ver mas <img src="{% static 'img/icons/double-arrow.png' %}" alt="#" /></a>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<p style="color: white;">No hay noticias aún. Usa "Agregar noticia" para crear la primera.</p>
				{% endif %}


				<div class="site-pagination">
					<a href="#" class="active">01.</a>
					<a href="#">02.</a>
					<a href="#">03.</a>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5 sidebar">
				<div id="stickySidebar">
					<div class="widget-item">
						<form class="search-widget">
							<input type="text">
							<button>search</button>
						</form>
					</div>
					<div class="widget-item">
						<h4 class="widget-title">Ultimos Comentarios</h4>
						<div class="latest-comments">
							{% if latest_comments %}
								{% for comment in latest_comments %}
									<div class="lc-item">
										<a href="{% url 'post_single' comment.post.id %}">
											<img src="{% if comment.post.image %}{{ comment.post.image.url }}{% else %}{% static 'img/games/no-image.svg' %}{% endif %}" class="lc-avatar" alt="#">
										</a>
										<div class="tw-text"><a href="{% url 'post_single' comment.post.id %}">{{ comment.post.title|truncatechars:30 }}</a> <span>:</span> {{ comment.content|truncatechars:40 }}</div>
									</div>
								{% endfor %}
							{% else %}
								<p style="color: white;">No hay comentarios recientes.</p>
							{% endif %}
						</div>
					</div>
					<div class="widget-item">
						<a href="#" class="add">
							<img src="{% static 'img/add.jpg' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}