{% extends "base.html" %}

{% load static %}

{% block contenido %}


<section class="page-top-section set-bg" data-setbg="{% static 'img/page-top-bg/1.jpg' %}">
	<div class="page-info">
		<h2>Juegos</h2>
		<div class="site-breadcrumb">
			<a href="{% url 'main' %}">Inicio</a> /
			<span>Juegos</span>
		</div>
	</div>
</section>

<section class="games-section">
	<div class="container">
		<ul class="game-filter">
			<li><a href="">A</a></li>
			<li><a href="">B</a></li>
			<li><a href="">C</a></li>
			<li><a href="">D</a></li>
			<li><a href="">E</a></li>
			<li><a href="">F</a></li>
			<li><a href="">G</a></li>
			<li><a href="">H</a></li>
			<li><a href="">I</a></li>
			<li><a href="">J</a></li>
			<li><a href="">K</a></li>
			<li><a href="">L</a></li>
			<li><a href="">M</a></li>
			<li><a href="">N</a></li>
			<li><a href="">O</a></li>
			<li><a href="">P</a></li>
			<li><a href="">Q</a></li>
			<li><a href="">R</a></li>
			<li><a href="">S</a></li>
			<li><a href="">T</a></li>
			<li><a href="">U</a></li>
			<li><a href="">V</a></li>
			<li><a href="">W</a></li>
			<li><a href="">X</a></li>
			<li><a href="">Y</a></li>
			<li><a href="">Z</a></li>
		</ul>

		<div class="row">
			<div class="col-xl-7 col-lg-8 col-md-7">
				<div class="row">

					{% for game in games %}
					<div class="col-lg-4 col-md-6">
						<div class="game-item">
							<img alt="{{ game.title }}" style="width:100%;height:220px;object-fit:cover;" 
							{% if game.image %} 
							src="{% static 'img/games/' %}{{ game.image }}" 
							{% else %}
								src="{% static 'img/games/no-image.svg' %}" 
							{% endif %}>
							<h5>{{ game.title }}</h5>
							    <a href="{% url 'game_single' game.id %}" class="read-more">Ver mas <img src="{% static 'img/icons/double-arrow.png' %}" alt="#" /></a>
						</div>
					</div>
					{% empty %}
					{% endfor %}
				</div>
				<div class="site-pagination">
					<a href="#" class="active">01.</a>
					<a href="#">02.</a>
					<a href="#">03.</a>
				</div>
			</div>
			<div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
				<a href="{% url 'games_add' %}" class="site-btn">Agregar juego</a>
				<div id="stickySidebar">
					<div class="widget-item">
						<div class="categories-widget">
							<h4 class="widget-title">categorias</h4>
							<ul>
								<li><a href="">Juegos</a></li>
								<li><a href="">Gaming Tips & Tricks</a></li>
								<li><a href="">Online Juegos</a></li>
								<li><a href="">Team Juegos</a></li>
								<li><a href="">Community</a></li>
								<li><a href="">Uncategorized</a></li>
							</ul>
						</div>
					</div>
					<div class="widget-item">
						<div class="categories-widget">
							<h4 class="widget-title">plataforma</h4>
							<ul>
								<li><a href="">Xbox</a></li>
								<li><a href="">PlayStation</a></li>
								<li><a href="">Nintendo Switch </a></li>
							</ul>
						</div>
					</div>
					<div class="widget-item">
						<div class="categories-widget">
							<h4 class="widget-title">Genero</h4>
							<ul>
								<li><a href="">Online</a></li>
								<li><a href="">Aventura</a></li>
								<li><a href="">Estrategia</a></li>
								<li><a href="">Carreras</a></li>
								<li><a href="">Disparos</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="featured-section">
	<div class="featured-bg set-bg" data-setbg="{% static 'img/featured-bg.jpg' %}"></div>
	<div class="featured-box">
		<div class="text-box">
			<div class="top-meta">11.11.18 / in <a href="">Juegos</a></div>
			<h3>The game you’ve been waiting for is out now</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
				et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur
				adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquamet, consectetur
				adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum
				posuere porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat sit amet, commodo
				ipsum. Donec pellentesque vestibulum metus...</p>
			<a href="#" class="read-more">Read More <img src="{% static 'img/icons/double-arrow.png' %}" alt="#" /></a>
		</div>
	</div>
</section>


{% endblock %}